<html lang="en">
<head>
    <head>
        <%- include('./partials/header.ejs', {title: 'Show Page'}) %>
    </head>
    
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
    <h1>Courses Show Page</h1>
    <p>
    <% if(course){ %>

      The Course name is <%= course.name %> and its rating is <%= course.courseRating %> 
            
    <% }else { %>
        
        <h1>Course at that index does not exist</h1>

    <% } %>
</p>
<div class="showPageContainer">
    <a href="/courses/<%= course._id %>/edit">Edit this Course</a>
    <a href="/">Home</a>
</div>


    <%- include('./partials/footer.ejs') %>
</body>
</html>